canvas {
    border: 5px solid black;

    margin-left: auto;
    margin-right: auto;
    display: block;
    background: url('../img/brillo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: #292929;

}

.cntrl {
    width: 150px;
    position: relative;
    padding-left: 35px;
}

.wrapper {
    background-color: #292929;
    border-radius: 50px;
    /*    border: 5px solid #3c3c3c;*/
    margin: 0 auto;
    padding-right: 200px;
    padding-left: 10px;
    padding-top: 20px;
    width: 800px;
    height: 530px;
    position: relative;
}

.controls {
    position: relative;
    left: 760px;
    top: -480px;
    color: white;
    width: 50px;

}

p {
    font-family: Courier New;
    color: #adadad;
    font-size: 15px;
}


#submit{
    position:relative;
    left:350px;
    top:450px;
    padding:10px;
    background:white;

}

.menuOptions{
    position: absolute;
    margin: auto;
}


#username {
    padding;5px;
    position: relative;
    left:-30px;
    top:10px;
    width: 150px;
}

#missions {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 670px;
    position: relative;
    left: -50px;
    color: #c0c1c3;
    padding-bottom: 10px;

}

.notifications {
    position: relative;
    top: -20px;
    /*    width: 150px;*/
    text-align: left;
    padding: 10px;
    font-size: 13px;
    color: #adadad;

}

#notifications {
    position: relative;
    left: 20px;
    background: black;
    border: 5px solid #3c3c3c;
    width: 150px;
    height: 200px;
    color: #adadad;
    font-size: 13px;
    overflow: scroll;
}

div {
    padding: 10px;
    text-align: center;
    color: black;

}

head {
    background-color: white;
}

/*
button {
    border-radius: 10px;
    background-color: lightgrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
*/
